PORT=3001
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=collector
DATABASE_PASSWORD=collector_password
DATABASE_NAME=collector
DATABASE_SCHEMA=articles

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=collector.events

JAEGER_AGENT_HOST=localhost
JAEGER_AGENT_PORT=6832
SERVICE_NAME=article-service
