PORT=3002
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=collector
DATABASE_PASSWORD=collector_password
DATABASE_NAME=collector
DATABASE_SCHEMA=users

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=collector.events

JWT_SECRET=COLLECTOR_SECRET_KEY
JWT_EXPIRATION=24h

JAEGER_AGENT_HOST=localhost
JAEGER_AGENT_PORT=6832
SERVICE_NAME=user-service
